<!DOCTYPE html>
<html>
<head>
  <title>Welcome to Calender.</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
  <!--Import materialize.css-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css"/>
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

  <style>
    #footer {
       position:absolute;
       bottom:0;
       width:100%;
       height:60px;   /* Height of the footer */
       background:#6cf;
    }
  </style>
</head>
  
 <!-- Hotjar Tracking Code for salescheduler.herokuapp.com -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:526496,hjsv:5};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
</script>

<header>
<nav>
    <div class="nav-wrapper teal lighten-2">
      <a href="#!" class="brand-logo center">Schedule your calls</a>
    </div>
</nav>
</header>

<br/>

<body>
    <div class="container">
      <div class="section">
         <h5>Schedule an incoming stream of call requests with different connected google calendars based on the availability of the calendar for the requested slot. Optimize for equal number of calls across different calendars per day.
         </h5>
      </div>
      <div class="divider"></div>
      <div class="section">
         <p>What is expected - A webpage to do the following
A google oAuth integration (using a dummy app), for user to connect his calendars. 
A form to allow user to define his availability per day. (User can choose multiple blocks of time per day). The form should also allow user to define his timezone. All calls requests are 30 mins each. Only consider user's primary calendar for call bookings.
Also multiple users can connect their calendars and hence this will need some form of database support.

Another webpage where a call request (start time of the call) can be defined along with the timezone. (You might want to preload all available slots for a day and let user pick one). On submit, the request should be matched with the relevant calendar. The page should list all bookings made till then. i.e list of call request ids along with the calendars they are booked to.</p>
      </div>
      <div class="divider"></div>
      <div class="section">
        <p>Use <a href="https://salescheduler.herokuapp.com/scheduler/" target="_blank">"https://salescheduler.herokuapp.com/scheduler/"</a> for scheduling your call.</p>
        <p>Use <a href="https://salescheduler.herokuapp.com/scheduler/available-slots/" target="_blank">"https://salescheduler.herokuapp.com/scheduler/available-slots/"</a> for checking available slots. </p>
      </div>
     </div>
   </body>

<footer class="page-footer teal lighten-2" id="footer">
      <div class="footer-copyright">
        <div class="container">
        © 2017 Call Scheduler
        </div>
      </div>
</footer>

</html>
