<!DOCTYPE html>
<html>
   <head>
      <title>Sales Scheduler | Schedule Your Calls in 3 clicks</title>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
      <!-- Compiled and minified CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css"/>

      <!-- Compiled and minified JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
          
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
   </head>
   <body>
   	<div class="container">
         <div class="section">
            <div class="row" id="centerDiv">
               <h4>Welcome to Sales Scheduler</h4>
               <h5>Login to sync your Calender</h5>
               <a class="waves-effect waves-light btn">Login</a>
            </div>
         </div>
     </div>
   </body>
</html>